<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-gps-status"
	version="0.0.1">
	<name>GpsStatusCordova</name>
	<description>A Cordova plugin for listening a GPS status</description>
	<license>Apache 2.0</license>
	<keywords>cordova,GPS,satellite</keywords>
	<repo></repo>
	<issue></issue>
	
	<js-module src="www/GpsStatusCordova.js" name="GpsStatusCordova">
		<clobbers target="GpsStatusCordova" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GpsStatusCordova" >
				<param name="android-package" value="com.gpsstatus.cordova.GpsStatusCordova"/>
			</feature>
		</config-file>
		<source-file src="src/android/GpsStatusCordova.java" target-dir="src/com/gpsstatus/cordova" />
	</platform>
</plugin>
